name: Sync Upstream Tags

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          
      - name: Add upstream remote
        run: git remote add upstream "https://github.com/peter-evans/repository-dispatch.git"

      - name: Sync fork
        run: |
          gh repo sync peter-evans/repository-dispatch
    
      - name: Fetch upstream tags
        run: git fetch --tags upstream 

      - name: Push tags to fork
        run: git push origin --tags --force
